@import url('https://fonts.googleapis.com/css2?family=Abel&family=Mynerve&display=swap');


.hey {
    display: flex;
    justify-content: center;
    transition: transform 0.2s;
  }
  
  .hey:hover {
    transform: scale(1.07);
  }

  body{
 background-color: silver;
  }